// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.results {
  margin: 5px;

  .item:nth-child(even) {
    background-color: #EEE;
  }
  .item:nth-child(odd) {

  }

  .item {
    padding: 15px;
    padding-top: 5px;
    border-radius: .25em;

    .designers, .types {
      list-style-type: none;
      display: table-row;
      clear: both;
    }
    li {
      margin:   3px;
      display: inline;
      padding: .2em .6em .3em;
      font-size: 75%;
      font-weight: bold;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25em;
    }
    .type {
      background-color: #5bc0de;
      float: left;
    }

    .designer {
      background-color: #5cb85c;
      float: left;
    }

    .name {
      margin: 3px;
      font-size: x-large;
      font-weight: bold;
      text-align: left;
    }
    .hits {
      float: right;
    }
  }
}
